# requirements.txt
fastapi
uvicorn
redis
rq #redis queue fastapi for workers
sqlalchemy
alembic
python-dotenv
psycopg2-binary
pydantic
python-multipart
python-jose[cryptography]

#testing
pytest
httpx
pytest-asyncio
pytest-cov
pytest-mock
python-json-logger


# ai
openai